---
layout: default
title: "Photography"
type: "main"
---
include ../../layouts/mixins/nav.jade

include ../../layouts/partials/highlights.jade

+page('photography')

  // +angular_modal("albumModal", "showingAlbum", "closeAlbum")
  //   header
  //     span(ng-hide="albumLoaded") Loading...

  //   div.galleria(ng-show="albumLoaded")

  // section(class="modal modal--gallery", data-cssmodal-resize="true", id="album-modal", tabindex="-1", role="dialog", aria-labelledby="modal-header", aria-hidden="true")
  //   div.modal-inner
  //     // header#modal-header Blah header
  //     div.modal-content
  //       div.galleria
  //     // footer blahhh footer

  //   a.modal-close(href="#!", title="Close album", data-close="Close", data-dismiss="modal") x

  //- Prepare the modal
  // +angular_modal("albumModal", "showingAlbum", "closeAlbum")
  //   span(ng-hide="albumLoaded") Loading...

  //   div(ng-show="albumLoaded", ng-mousemove="mouseMoved()")
  //     //- img.current(ng-src="{{currentImg.path}}")
  //     //- div.controls(ng-show="showControls")
  //     .next(ng-click="nextPic()", ng-show="showControls")
  //     .prev(ng-click="prevPic()", ng-show="showControls")
  //     header
  //       h2 {{albumName}}
  //       span {{currentImg.caption}}
  //     img.current(ng-src="{{currentImg.path}}")
  //     footer
  //       .photos
  //         ul
  //           li(ng-repeat="i in albumImgs", ng-click="showImg(i)")
  //             img(ng-src="{{i.path}}")



  .thumbs

    //- Show thumbnails of the albums
    each a in getCollection("photography").toJSON()
      .thumb
        - url = '/photography/'+a.album+'/'
        - thumbnail = '/photography/thumbnail/'+a.thumb
        - modal_link = '#' + a.album
        a(href=modal_link)
          span= a.title
          img(src=thumbnail)

        // Album specific modal
        section(class="modal modal--gallery", id=a.album, data-cssmodal-resize="true", tabindex="-1", role="dialog", aria-labelledby="modal-label", aria-hidden="true")
          div.modal-inner
            div.modal-content
              .spinner
                .spinner__outer
                .spinner__inner

              // Gallery detail view
              .modal-detail(aria-live="polite", aria-atomic="false")

              ul.modal--gallery-navigation
                li
                  a.modal--gallery-navigation-prev(title="Previous", href="#") Previous
                li
                  a.modal--gallery-navigation-next(title="Next", href="#") Next

            div.modal--gallery-caption

            footer
              ul.modal-content-list(aria-hidden="true")
                - var c = -1
                each i in getImages(a)
                  - c = c + 1
                  - imgThumb = getThumbnail('photography/'+a.album+'/'+i.filename, "zoomcrop", {w: 80, h: 80})
                  li(data-caption=i.caption)
                    a(href=modal_link+'/'+c)
                      img(alt=i.caption, src=imgThumb, data-src-fullsize=url+i.filename)
                      
          a.modal-close(href="#!" title="Close this modal" data-close="Close") &times;
