//- Navigation mixins

mixin lia(link, img, to)
  - to = to || "_self"
  li
    a(href=link, target=to)
      - var s = "/images/nav/" + img + ".png"
      img(src=s)


//- Nav for current url and title
mixin nav(url, title)
  .std-nav
    div
      a(href="/")
        img(src="/images/nav/home.png")

      h5.page= title
    nav
      ul
        if (url != 'graphicdesign')
          +lia("/graphicdesign/", "gd")
        if (url != 'photography')
          +lia("/photography/", "picg")
        if (url != 'highlights')
          +lia("/highlights", "hh")
        if (url != 'contact')
          +lia("/contact", "contactme")
        if (url != 'aboutme')
          +lia("/aboutme", "aboutme")


//- Construct page structure for all std pages
mixin page(u, p)
  - p = p || u
  div.container(class=u)
    +nav(u, p)

    .std-container
      block